<div class="container">
    <div class="row">
        <app-search-pokemon></app-search-pokemon>
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div (click)="goToDetailsPokemon(pokemon)" class="card horizontal" appBorderCard="#009688">
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">{{pokemon.name}}</span>
                        <p>{{pokemon.created | date:"dd/MM/yyy"}}</p>
                        <ul>
                            <li *ngFor="let type of pokemon.types">
                                <span class="{{type | pokemonTypeColor}}">{{type}}</span>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="card-action">
                        <a href="#">This is a link</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<a 
    class="btn-floating btn-large waves-effect z-depth-3"
    style="position: fixed; bottom: 50px; right: 50px;"
    (click)="goToAddPokemon()"> + </a>