<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">
            Pokédex
        </a>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- <input 
    #input 
    (keyup.enter)="showPokemon(input.value)" 
    type="number">
<p *ngIf="selectedPokemon">
    Le pokemon sélectionné est {{selectedPokemon.name}}
</p>
<p *ngIf="!selectedPokemon">
    Aucun pokémon correspondant.
</p>
<div *ngFor="let pokemon of pokemonList">
    {{pokemon.name}}
</div> -->


            
